<div flex layout="column">
    <md-card>
        <md-card-content class="overflow-auto">
          <div flex layout="column">
              <div flex layout="row" layout-align="center">
                <div class="md-padding word md-margin" flex ng-repeat="w in ::vm.Words" ng-class="{'selected': vm.WordIndex == $index, 'not-selected': vm.WordIndex != $index}" palette-background="blue:100">
                    {{::w.Word}}
                </div>
              </div>
          </div>
          <div flex layout="row" ng-class="{'someIndication': vm.IsDone == true}">
              <div flex layout="column">
                  <md-button class="md-padding md-margin md-raised" palette-background="red:100" ng-click="vm.Answer(vm.WordIndex, 'a')" ng-disabled="vm.IsDone">Atviksorð</md-button>
              </div>
              <div flex layout="column">
                  <md-button class="md-padding md-margin md-raised" palette-background="red:100" ng-click="vm.Answer(vm.WordIndex, 'f')" ng-disabled="vm.IsDone">Fornafn</md-button>
              </div>
              <div flex layout="column">
                  <md-button class="md-padding md-margin md-raised" palette-background="red:100" ng-click="vm.Answer(vm.WordIndex, 'l')" ng-disabled="vm.IsDone">Lýsingarorð</md-button>
              </div>
              <div flex layout="column">
                  <md-button class="md-padding md-margin md-raised" palette-background="red:100" ng-click="vm.Answer(vm.WordIndex, 'n')" ng-disabled="vm.IsDone">Nafnorð</md-button>
              </div>
              <div flex layout="column">
                  <md-button class="md-padding md-margin md-raised" palette-background="red:100" ng-click="vm.Answer(vm.WordIndex, 's')" ng-disabled="vm.IsDone">Sagnorð</md-button>
              </div>
          </div>
        </md-card-content>
    </md-card>
</div>
