.words {
  font-size: 2em;
  text-align:center;
}

.selected {
  background-color: #ff0000 !important;
}

.currentWord {
    border-bottom:1px dotted;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 10px;
}

.otherWord {
  margin-right: 10px;
  color: rgb(200,200,200);
}
