themeforest-11711437-triangular-material-design-admin-template-angularjs\source\node_modules\node-sass\*
themeforest-11711437-triangular-material-design-admin-template-angularjs\source\.tmp\serve\app\triangular.scss