<div>
    <div flex layout="row" layout-align="center center" layout-fill>
        <md-card flex="90" class="tri-wizard-card md-whiteframe-z1 margin-bottom-100" tri-wizard>
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <h2>Nýtt Próf</h2><h2></span></h2>
                </div>
                <md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
            </md-toolbar>
            <md-card-content>
                <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
                    <md-tab id="account">
                        <md-tab-label>
                            <span class="oxy-step-label">1</span>
                            <span translate>Próf</span>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <form name="accountForm" tri-wizard-form novalidate>
                                    <div>
                                        <md-input-container class="md-block">
                                            <label translate>Nafn</label>
                                            <input name="text" ng-model="vm.title" required>
                                            <div ng-messages="" md-auto-hide="false" ng-show="">
                                                <div ng-message when="required">
                                                    <span translate>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <div>
                                            <div  layout layout-xs="row" flex>
                                                <md-datepicker ng-model="vm.open" md-placeholder="Próf opnar"></md-datepicker>
                                            </div>
                                            <div lass="labelCenter" layout layout-xs="row" flex>
                                                <md-datepicker ng-model="vm.close" md-placeholder="Próf lokar"></md-datepicker>
                                            </div>

                                        </div>
                                        <div layout layout-xs="row" flex>

                                            <md-select ng-model="vm.level" placeholder="Veldu erfileikastig">
                                                <md-option value="Auðvelt">Auðvelt</md-option>
                                                <md-option value="Miðlungs">Miðlungs</md-option>
                                                <md-option value="Erfitt">Erfitt</md-option>
                                            </md-select>
                                        </div>
                                        <md-input-container class="md-block textbox">
                                            <label translate>Setningar til prófs</label>
                                            <text-angular name="" ng-model="vm.unparsedText" ta-target-toolbars="editor-toolbar" ta-paste="converter($html)" required></text-angular>
                                            <div ng-messages="" md-auto-hide="false" ng-show="">
                                                <div ng-message when="required">
                                                    <span translate>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </form>
                            </md-content>
                        </md-tab-body>
                    </md-tab>


                    <md-tab id="address" ng-disabled="">
                        <md-tab-label>
                            <span class="oxy-step-label">2</span>
                            <span translate>Svör</span>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <form name="addressForm" tri-wizard-form>
                                    <div class="create-quiz-wordAndCategory" ng-repeat="s in ::vm.parsedText.Sentences" ng-model ="::vm.parsedText" layout="column">
                                        <div class="create-quiz-wordAndCategory" ng-repeat="w in ::s.WORDS" layout="column">
                                            <p class="create-quiz-words">{{::w.Word}}</p>
                                            <md-select class="create-quiz-wordCategories" ng-model ="::w.Class">
                                                <md-option ng-repeat="c in ::vm.WordCatagories" value="{{::c.Code}}">{{::c.Title}}</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                </form>
                            </md-content>
                        </md-tab-body>
                    </md-tab>

                    <md-tab id="confirm" ng-disabled="">
                        <md-tab-label>
                            <span class="oxy-step-label">3</span>
                            <span translate>Staðfesta</span>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <div class="padding-40" flex layout="column" layout-align="center center">
                                    <md-icon class="big-icon" md-font-icon="zmdi zmdi-assignment-check"></md-icon>
                                    <h2 layout-align="center" class="md-display-2" translate>Verkefni er opið fyrir nemendum</h2>
                                </div>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="triWizard.prevStep(); vm.reload()" ng-hide="" ng-disabled="triWizard.prevStepDisabled()" translate="Til baka"></md-button>
                <md-button class="md-primary md-raised" ng-click="vm.parseText(); triWizard.nextStep()" ng-hide="!triWizard.prevStepDisabled()" translate="Greina"></md-button>
                <md-button class="md-accent md-raised" ng-href="#/quizes/teacher/overview" ng-click="vm.createQuiz(); triWizard.nextStep()" ng-show="!triWizard.prevStepDisabled()" translate="Birta verkefni"></md-button>
            </md-card-actions>
    </div>
    </md-card>
</div>
