.tri-wizard-card md-card-content {
  padding: 0px;
}

.wordCategories {
  display: block;

}

.textbox {
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
}

.create-quiz-words {

  font-size: 1.5em;

  justify-content: center;
  display: block;

}
