<div>
    <div flex layout="row" layout-align="center center" layout-fill>
        <md-card flex="90" class="tri-wizard-card md-whiteframe-z1 margin-bottom-100" tri-wizard>
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <h2>Nýtt Próf</h2><h2></span></h2>
                </div>
                <md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
            </md-toolbar>
            <md-card-content>
                <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height>
                    <md-tab id="account">
                        <md-tab-label>
                            <span class="oxy-step-label">1</span>
                            <span translate>Próf</span>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <form name="accountForm" tri-wizard-form novalidate>
                                    <div>
                                        <md-input-container class="md-block">
                                            <label translate>Nafn</label>
                                            <input name="text" ng-model="vm.quiz.Title" required>
                                            <div ng-messages="" md-auto-hide="false" ng-show="">
                                                <div ng-message when="required">
                                                    <span translate>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <div layout layout-xs="column" flex>
                                            <label>Próf opnar</label>
                                            <md-datepicker ng-model="vm.quiz.Open.From" md-placeholder="Veldu dags."></md-datepicker>
                                        </div>
                                        <div layout layout-xs="column" flex>
                                            <label>Próf lokar</label>
                                            <md-datepicker ng-model="vm.quiz.Open.Till" md-placeholder="Veldu dags."></md-datepicker>
                                        </div>
                                        <md-input-container class="md-block textbox">
                                            <label translate>Setningar til prófs</label>
                                            <text-angular name="" ng-model="vm.quiz.Sentence" ta-target-toolbars="editor-toolbar" required></text-angular>
                                            <div ng-messages="" md-auto-hide="false" ng-show="">
                                                <div ng-message when="required">
                                                    <span translate>This field is required</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </form>
                            </md-content>
                        </md-tab-body>
                    </md-tab>


                    <md-tab id="address" ng-disabled="">
                        <md-tab-label>
                            <span class="oxy-step-label">2</span>
                            <span translate>Svör</span>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <form name="addressForm" tri-wizard-form>
                                    <div ng-repeat="w in ::vm.answers" layout="column">
                                        <p class="create-quiz-words">{{::w.Word}}</p>
                                        <md-select class="create-quiz-wordCategories" ng-model ="::w.Class"> <md-option ng-repeat="c in ::vm.WordCatagories" value="{{::c.Code}}">{{::c.Title}}</md-option> </md-select>
                                    </div>
                                </form>
                            </md-content>
                        </md-tab-body>
                    </md-tab>


                    <md-tab id="confirm" ng-disabled="">
                        <md-tab-label>
                            <span class="oxy-step-label">3</span>
                            <span translate>Staðfesta</span>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <div class="padding-40" flex layout="column" layout-align="center center">
                                    <md-icon class="big-icon" md-font-icon="zmdi zmdi-assignment-check"></md-icon>
                                    <h2 layout-align="center" class="md-display-2" translate>Smelltu á "Birta" til að prófið verði sýnilegt nemendum</h2>
                                </div>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 2" ng-disabled="triWizard.prevStepDisabled()" translate="Previous"></md-button>
                <md-button class="md-primary md-raised" ng-click="vm.getAnswers(); triWizard.nextStep()" ng-hide="" translate="Greina"></md-button>
                <md-button class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.progress == 100 && triWizard.currentStep > 2" ng-disabled="triWizard.nextStepDisabled()" translate="Next"></md-button>
                <md-button class="md-accent md-raised" ng-click="vm.postQuiz()" ng-show="triWizard.progress == 100 && triWizard.currentStep > 1" translate="Birta"></md-button>
            </md-card-actions>
    </div>
    </md-card>
</div>
