#Main {
  background-color: #333333;
}

#MainCard {
  background-color: #aaaaaa;
  //display: block;
  //min-width: 400px;
  //max-width: 960px !important;
}

#scroll {
  overflow: scroll;
}

.words {
  font-size: 3.5em;
  justify-content: center;
}

.currentWord {
    font-weight: bold;
    margin-right: 10px;
    //transition: font-weight 0.3s ease-out;
    float: left;
    background: url("../assets/images/elements/dottedline.png") repeat-x center bottom;
    //background-color: blue;
}

.otherWord {
  font-weight: normal;
  margin-right: 10px;
  color: rgb(100,100,100);
  //transition: font-weight 0.3s ease-in;
  float: left;
}
